@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Montserrat&family=Mulish&family=Nunito+Sans:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue: #0F52BA;
  --black-2: #00000022;
  --light-black: #373737;
  --white-1: #EEEEEE;
  --dark-gray: #2C2C2C;
}


body {
  font-family: 'Montserrat', sans-serif;
}

